<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div>   <span> <%=userInfo1.name1%> 입니다.</span> </div>
      <div>  <span><%=userInfo1.gender%> 입니다.</span> </div>

        <div>  
        <span> <%=userInfo1.year%>년</span>
        <span> <%=userInfo1.month%>월</span>
        <span> <%=userInfo1.day%>일</span>

        </div>
       
        <div>   <span> <%=userInfo1.interest%> 입니다.</span> </div>

        <div>   <span> <%=userInfo1.color%> 입니다.</span> </div>
        <div>   <span> <%=userInfo1.number%> 입니다.</span> </div>
        
        <div>   <span> <%=userInfo1.email%> 입니다.</span> </div>
        <div>   <span> <%=userInfo1.tel%> - <%=userInfo1.tel1%> - <%=userInfo1.tel2%> 입니다.</span> </div>



</body>
</html
>