<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <fieldset>

    <legend>  <%=userInfo.title%> </legend>

    <div>   <span> <%=userInfo.name%> 입니다.</span> </div>
      <div>  <span><%=userInfo.gender%> 입니다.</span> </div>

        <div>  
        <span> <%=userInfo.year%>년</span>
        <span> <%=userInfo.month%>월</span>
        <span> <%=userInfo.day%>일</span>

        </div>
       
        <div>   <span> <%=userInfo.interest%> 입니다.</span> </div>



    </fieldset>

</body>
</html
>